* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #666668;
}

body {
  font-family: Arial, sans-serif;
  background-color: #a5a5d464;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.main-container {
  background-color: rgb(255, 255, 255);
  margin: 40px 0;
  min-height: 1300px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
  padding: 30px 40px;
}

.main-container .header {
  margin-top: 10px;
  margin-bottom: 25px;
}

.main-container .header h2 {
  font-size: 35px;
}

.main-container .header p {
  font-size: 15px;
}

.main-container .header h2,
.main-container .header p {
  color: rgba(74, 70, 70, 0.955);
  margin-top: 10px;
}

.line {
  position: relative;
  right: 28px;
  width: 105%;
  height: 0.5px;
  background-color: #666668;
  margin-top: 25px;
}

.main-container .wadah-konten {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* test */
.main-container .content-1 {
  width: 100%;
  height: 900px;
  max-width: 670px;
  /* background-color: aqua; */
}

/* FIELD NAMA*/
.main-container .content-1 .nama-input {
  margin-top: 50px;
  /* background-color: aqua; */
}

.main-container .content-1 h2,
.content-2 h2 {
  font-size: 16px;
  margin-bottom: 15px;
}

.nama-input .field-group,
.email-input .field-group {
  /* background-color: #048eff; */
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.field-group label {
  font-size: 14px;
  margin-bottom: 8px;
}

.content-1 .field-group .field input {
  padding: 8px 10px;
  font-size: 14px;
  width: 280px;
  height: 35px;
  border: 1px solid #00000032;
  border-radius: 100px;
}

.content-1 .field-group input:focus,
.content-1 .field-group input:focus:hover {
  border: 1.5px solid #0e82e0;
  outline: 2px solid #99a1a788;
}

.content-1 .field-group input:hover {
  border: 1px solid #048eff;
  outline: 2px solid #aab5be88;
}

.nama-input .field-group .field,
.email-input .field-group .field {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
/* FIELD NAMA*/

/* EMAIL */
.content-1 .boundary-top {
  margin-top: 40px;
}
/* EMAIL END*/

/* NO TELP */
.telp-input .field-group,
.tanggal-lahir-input .field-group {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.telp-input .field-group .field,
.tanggal-lahir-input .field-group .field {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.telp-input .field-group .field-1 input {
  width: 50px;
  scrollbar-width: none;
}

.telp-input .field-group .field-2 input {
  width: 190px;
}
/* NO TELP END */

/* ALAMAT */
.alamat-input .field-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: tomato; */
}

.alamat-input .field-group .field {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.alamat-input .field-group .field-1 input,
.alamat-input .field-group .field-3 input {
  width: 100%;
  max-width: 630px;
}

.alamat-input .field-group .field-2-group {
  display: flex;
  flex-direction: row;
  gap: 70px;
  max-width: 630px;
  width: 100%;
}

.alamat-input .field-2-group .field {
  flex: 1;
}

.alamat-input .field-2-group .field input {
  width: 100%;
}

/* ALAMAT END */

/* TANGGAL LAHIR */
.content-1 .tanggal-lahir-input .field-group input {
  width: 80px;
  text-align: start;
}

.content-1 .tanggal-lahir-input .field-group .field-1 input {
  width: 55px;
  text-align: start;
}

.content-1 .tanggal-lahir-input .field-group .field-2 input {
  width: 65px;
  text-align: start;
}

.content-1 .tanggal-lahir-input .field-group {
  gap: 20px;
}

.content-1 .tanggal-lahir-input #Kalender {
  position: relative;
  width: 4%;
  padding: 5px;
  height: 26px;
  border-radius: 50px;
  border: none;
  background-color: #d5dde47d;
  top: 3px;
  color: transparent;
  transform: scale(1.5);
  box-shadow: 1px 0.5px 1px #00000029;
  left: 2px;
}

.content-1 .tanggal-lahir-input #Kalender {
  outline: none;
}

.content-1 .tanggal-lahir-input #Kalender:hover {
  /* background-color: #b0b8c08c; */
  box-shadow: 1px 1px 5px #0000004d;
}

/* TANGGAL LAHIR END */

/* CONTENT 2 */

/* INFO TENTANG KAMI */
.main-container .content-2 .boundary-top {
  margin-top: 25px;
}

.content-2 .info-ttg-kami .field-group .field-1 {
  /* background-color: aqua; */
  margin-top: 23px;
}

.content-2 .info-ttg-kami .field-group .field input,
.content-2 .info-ttg-kami .field-group .field label {
  display: flex;
  flex-direction: row;
  /* gap: 200px; */
}

.content-2 .info-ttg-kami .field-group .field label {
  position: relative;
  bottom: 18px;
  left: 30px;
  font-size: 15px;
}

.content-2 .info-ttg-kami .field-group .field input {
  appearance: none;
  margin-top: 5px;
  width: 17px;
  height: 20px;
  transform: scale(1.4);
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: #d5dde47d;
}

.checkbox-group:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px #00000065;
}

.checkbox-group:checked:after {
  content: "";
  width: 7px;
  height: 15px;
  border: solid rgb(0, 0, 0);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  margin-bottom: 3px;
}
/* INFO TENTANG KAMI */

/* ATURAN KEANGGOTAAN */

/* ATURAN DAN KEBIJAKAN ANGGOTA */

.content-2 .info-ttg-kami .field-group .field-2,
.content-2 .info-ttg-kami .field-group .field-3 {
  margin-top: 40px;
}

.content-2 .info-ttg-kami .field-group .field-2 .line,
.field-3 .line {
  width: 200px;
  position: relative;
  left: 1px;
  height: 0.3px;
  bottom: 5px;
}

.content-2 .info-ttg-kami .field-group .field-2 p,
.field-3 p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
}

.content-2 .info-ttg-kami .field-group .field-2 #rule,
.field-3 #policy {
  margin-top: 40px;
  width: 17px;
}

.content-2 .info-ttg-kami .field-group .field-2 #rule:checked:after,
.field-3 #policy:checked:after {
  content: "";
  width: 7px;
  height: 15px;
  border: solid rgb(0, 0, 0);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  margin-bottom: 3px;
}

.content-2 .info-ttg-kami .field-group .field-2 #rule:hover,
.field-3 #policy:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px #00000065;
}

.content-2 .info-ttg-kami .field-group .field-2 label {
  font-size: 15px;
  position: relative;
  bottom: 18px;
}

.content-2 .info-ttg-kami .field-group .field-3 label {
  font-size: 15px;
  position: relative;
  bottom: 18px;
}

.content-2 .info-ttg-kami .field-group .field-3 h2 {
  margin-top: 40px;
}

/* ATURAN DAN KEBIJAKAN ANGGTA */

/* CONTENT 3 */
.content-3 .parag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  background-color: rgba(76, 176, 237, 0.324);
  padding: 0.5rem 1rem 1.5rem 1rem;
  border-radius: 15px;
}

.content-3 p {
  font-size: 16px;
  margin-top: 20px;
  color: rgba(74, 70, 70, 0.763);
  font-style: italic;
}

.content-3 .button-send {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-3 #submitBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #4cb0ed;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 1px 1px 5px #0000004d;
  display: flex;
  justify-content: start;
  align-items: center;
}

.content-3 #submitBtn:hover {
  background-color: #3997d1;
  box-shadow: 2px 2px 7px #0000005c;
}
/* CONTENT 3 END */


/* Validate */
 .validate {
  z-index: 500;
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: auto;
  left: 250px;
  background-color: rgba(202, 223, 202, 0.3);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 10px #0000005c;
  padding: 40px;
  text-align: center;
}

.validate h1 {
  font-size: 40px;
  color: #333333;
}

.validate p {
  font-size: 18px;
  color: #555555;
}

.validate button {
  color: #fff;
  padding: 10px 50px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #487ee2;
  border-radius: 20px;
  box-shadow: 2px 2px 7px #0000005c;
  transition: all 0.3s ease;
}

.validate button:hover {
  background-color: #3997d1;
  box-shadow: 2px 2px 7px #0000005c;
  transform: scaleX(1.1);
  font-size: 18px;
}

/* phone */
@media (max-width: 500px ) {
  .nama-input .field-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-container .content-2 .boundary-top {
    margin-top: 100px;
  }

  .content-1 .tanggal-lahir-input #Kalender {
    position: relative;
    width: 9%;
    padding: 6px;
    height: 20px;
    border-radius: 50px;
    border: none;
    background-color: #d5dde47d;
    top: 3px;
    color: transparent;
    transform: scale(1.5);
    box-shadow: 1px 0.5px 1px #00000029;
    left: 2px;
  }

  .main-container .header .line {
    position: relative;
    right: 12px;
    width: 105%;
  }

  .main-container .header h2 {
    font-size: 24px;
  }

  .validate {
    position: relative;
    display: none !important; 
    justify-content: center;
    align-items: center; 
    width: 300px;
    left: 0;
  }
}

@media (min-width: 500px) and (max-width: 670px) {
  .nama-input .field-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-container .content-2 .boundary-top {
    margin-top: 120px;
  }

  .content-1 .tanggal-lahir-input #Kalender {
    position: relative;
    width: 6%;
    padding: 7px;
    height: 26px;
    border-radius: 50px;
    border: none;
    background-color: #d5dde47d;
    top: 3px;
    color: transparent;
    transform: scale(1.5);
    box-shadow: 1px 0.5px 1px #00000029;
    left: 2px;
  }

  .main-container .header .line {
    position: relative;
    right: 14px;
    width: 105%;
  }

  .main-container .header h2 {
    font-size: 25px;
  }

  .validate {
    position: relative;
    display: none !important; 
    justify-content: center;
    align-items: center; 
    width: 300px;
    left: 0;
  }
}


@media (min-width: 670px) {
  .nama-input .field-group {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }

}


